                        <!-- Botón para eliminar -->
                        <!-- Botón para bloquear -->
                        <button class="btn btn-warning btn-sm btn-custom" data-bs-toggle="modal" data-bs-target="#bloqueoClienteModal{{ cliente[0] }}">
                            <i class="bi bi-lock"></i>
                        </button>
 
                        <!-- Botón para desbloquear -->
                        <button class="btn btn-warning btn-sm btn-custom" data-bs-toggle="modal" data-bs-target="#desbloqueoClienteModal{{ cliente[0] }}">
                            <i class="bi bi-unlock-fill"></i>
                        </button>

                        <!-- Botón para cargar Queue -->
                        <button type="button" class="btn btn-primary btn-sm btn-custom" data-bs-toggle="modal" data-bs-target="#cargar_queue{{ cliente[0] }}">
                          <i class="bi bi-bar-chart-steps"></i>
                        </button>

                        <!-- Botón para cargar eliminar  Queue -->
                        <button type="button" class="btn btn-primary btn-sm btn-custom" data-bs-toggle="modal" data-bs-target="#elimanr_queue{{ cliente[0] }}">
                          <i class="bi bi-person-down"></i>
                        </button>
                        
                        <button type="submit" class="btn btn-success btn-sm btn-custom" data-bs-toggle="modal" data-bs-target="#asignarEquipoModal{{ cliente[0] }}">
                          <i class="bi bi-router-fill"></i>
                        </button>

                        <button type="submit" class="btn btn-success btn-sm btn-custom" data-bs-toggle="modal" data-bs-target="#registrar_pago{{ cliente[0] }}">
                          <i class="bi bi-cash"></i>
                        </button>
                        
                        <button type="submit" class="btn btn-success btn-sm btn-custom" data-bs-toggle="modal" data-bs-target="#programar_corte{{ cliente[0] }}">
                          <i class="bi bi-gear-wide-connected"></i>
                        </button>