                        <!-- Modal de edición -->
                        <div class="modal fade text-dark" id="editarModal{{ cliente[0] }}" tabindex="-1" aria-labelledby="editarModalLabel{{ cliente[0] }}" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="editarModalLabel{{ cliente[0] }}">Editar Cliente</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                </div>
                                <form action="{{ url_for('eidtar_cliente', id=cliente[0]) }}" method="POST">
                                  <div class="modal-body">
                                    <div class="mb-3">
                                      <label for="nombre{{ cliente[0] }}" class="form-label">Nombre</label>
                                      <input type="text" class="form-control" name="nombre" id="nombre{{ cliente[1] }}" value="{{ cliente[1] }}" required/>
                                    </div>
  
                                    <div class="mb-3">
                                    <label for="lsita_paquetes" class="form-label">Paquete</label>
                                      <select name="lsita_paquetes" id="lsita_paquetes" class="form-control">
                                          {% for paquete in paquetes %}
                                            <option value="{{ paquete }}">{{ paquete }}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                      <label for="direccionIp" class="form-label">Direccion IP</label>
                                      <input type="text" class="form-control" name="direccionIp" id="direccionIp" value="{{ cliente[4]}}">
                                    </div>
                                    <div class="mb-3">
                                      <label for="dia_corte" class="form-label">Dia Corte</label>
                                      <input type="text" class="form-control" name="dia_corte" id="dia_corte" value="{{ cliente[5]}}">
                                    </div>
  
                                    <div class="mb-3">
                                    <label for="lista_antenas" class="form-label">Antena AP (Nueva / Actual)</label>
                                      <select name="lista_antenas" id="lista_antenas" class="form-control">
                                          {% for antena in antens%}
                                          <option value="{{ antena }}">{{ antena }}</option>
                                          {%endfor%}
                                      </select>
                                    </div>
  
                                    <div class="mb-3">
                                    <label for="lista_servicio" class="form-label">Servicio (Nueva / Actual)</label>
                                      <select name="lista_servicio" id="lista_servicio" class="form-control">
                                          {% for servicio in servicios%}
                                          <option value="{{ servicio }}">{{ servicio }}</option>
                                          {%endfor%}
                                      </select>
                                    </div>
  
                                    <div class="mb-3">
                                    <label for="lista_microtik" class="form-label">Microtik Administrador (Nueva / Actual)</label>
                                      <select name="lista_microtik" id="lista_microtik" class="form-control">
                                          {% for microtik in microtiks%}
                                          <option value="{{ microtik }}">{{ microtik }}</option>
                                          {%endfor%}
                                      </select>
                                    </div>
                                    <!-- Otros campos según tu necesidad... -->
                                  </div>
                                  <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary btn-custom">Guardar cambios</button>
                                    <button type="button" class="btn btn-secondary btn-custom" data-bs-dismiss="modal">Cerrar</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>