                        <!-- Modal para cargar Queue -->
                        <div class="modal fade text-dark" id="registrar_pago{{ cliente[0] }}" tabindex="-1" aria-labelledby="registrar_pago{{ cliente[0] }}" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="registrar_pago{{ cliente[0] }}">Remover</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                </div>
                                <form action="{{ url_for('eliminar_queue_simple', id=cliente[0]) }}" method="POST">
                                  <div class="modal-body">
                                    <div class="mb-3">
                                      <label for="nombre{{ cliente[0] }}" class="form-label">Nombre</label>
                                      <input type="text" class="form-control" name="nombre" id="nombre{{ cliente[0] }}" value="{{ cliente[1] }}" required readonly/>
                                    </div>
                                    <div class="mb-3">
                                      <input type="hidden" class="form-control" name="direccionIp" id="direccionIp{{ cliente[0] }}" value="{{ cliente[4] }}" required/>
                                    </div>
                                    <div class="mb-3">
                                      <input type="hidden" class="form-control" name="microtik" id="microtik{{ cliente[0] }}" value="{{ cliente[8] }}" required/>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary btn-custom">Remover</button>
                                    <button type="button" class="btn btn-secondary btn-custom" data-bs-dismiss="modal">Cerrar</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>