                        <!-- Modal para asignar equipo al cliente -->
                        <div class="modal fade text-dark" id="asignarEquipoModal{{ cliente[0] }}" tabindex="-1" aria-labelledby="asignarEquipoModalLabel{{ cliente[0] }}" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="asignarEquipoModalLabel{{ cliente[0] }}">Asignar Equipo al Cliente</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                </div>
                                <form action="{{ url_for('asignar_equipo', id=cliente[0]) }}" method="POST">
                                  <div class="modal-body">
  
                                    <!-- Campo para ingresar el nombre del equipo -->
                                    <div class="mb-3">
                                      <label for="nombre_equipo{{ cliente[0] }}" class="form-label">Nombre del Equipo</label>
                                      <input type="text" class="form-control" name="nombre_equipo" id="nombre_equipo{{ cliente[0] }}" placeholder="Ej: Equipo1" required>
                                    </div>
  
                                    <!-- Select para el tipo de equipo -->
                                    <div class="mb-3">
                                      <label for="tipo_equipo{{ cliente[0] }}" class="form-label">Tipo de Equipo</label>
                                      <select name="tipo_equipo" id="tipo_equipo{{ cliente[0] }}" class="form-select" required>
                                        <option value="" disabled selected>Seleccione un tipo</option>
                                        <option value="Router">Router</option>
                                        <option value="Antena">Antena</option>
                                        <option value="ONU">ONU</option>
                                        <option value="ONU">Otro</option>
  
                                        <!-- Agrega más opciones según tus necesidades -->
                                      </select>
                                    </div>
  
                                    <!-- Campo para la marca del equipo -->
                                    <div class="mb-3">
                                      <label for="marca_equipo{{ cliente[0] }}" class="form-label">Marca</label>
                                      <input type="text" class="form-control" name="marca_equipo" id="marca_equipo{{ cliente[0] }}" placeholder="Ej: Cisco, TP-Link" required>
                                    </div>
  
                                    <!-- Campo para el modelo del equipo -->
                                    <div class="mb-3">
                                      <label for="modelo_equipo{{ cliente[0] }}" class="form-label">Modelo</label>
                                      <input type="text" class="form-control" name="modelo_equipo" id="modelo_equipo{{ cliente[0] }}" placeholder="Ej: XYZ123" required>
                                    </div>
  
                                    <!-- Select para el estado del equipo -->
                                    <div class="mb-3">
                                      <label for="estado_equipo{{ cliente[0] }}" class="form-label">Estado del Equipo</label>
                                      <select name="estado_equipo" id="estado_equipo{{ cliente[0] }}" class="form-select" required>
                                        <option value="" disabled selected>Seleccione el estado</option>
                                        <option value="Rentado">Rentado</option>
                                        <option value="Vendido">Vendido</option>
                                        <option value="Propio">Propio</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary btn-custom">Asignar Equipo</button>
                                    <button type="button" class="btn btn-secondary btn-custom" data-bs-dismiss="modal">Cerrar</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>